@{
    ViewBag.Title = "Cennik";
}
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <h2 class="mb-5 tm-content-title">Cennik</h2>
            <hr class="mb-4">
            <table>
                <tbody>
                    <tr>
                        <td><b>Działka o powierzchni do 5 arów -</b></td>
                        <td align="right" style="color:red">200 zł</td>
                    </tr>
                    <tr>
                        <td><b>Działka o powierzchni do 10 arów -</b></td>
                        <td align="right" style="color:red">350 zł</td>
                    </tr>
                    <tr>
                        <td><b>Działka o powierzchni do 20 arów -</b></td>
                        <td align="right" style="color:red">550 zł</td>
                    </tr>
                    <tr>
                        <td><b>Działka o powierzchni powyżej 20 arów -</b></td>
                        <td align="right" style="color:red">do negocjacji</td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            <p>
                Ceny są uzależnione od ilości nasadzeń, charakterystyki i ukształtowania terenu, temperatury oraz spodziewanych opadów.
            </p>
            <p>
                W przypadku lokalizacji poza Wrocławiem nalezy doliczyć cenę dojazdu - ustalana telefonicznie.
            </p>
            <p>
                Wstępną wycenę jesteśmy w stanie przedstawić na podstawie zdjęć satelitarnych z Google Maps.
            </p>
            <p>
                Wystawiamy faktury VAT.
            </p>
        </section>
    </main>
</div>