@*<div class="container-fluid tm-section tm-section-2">
    <div class="row tm-media-row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="col-md-3 col-sm-4">
                <img src="img/tm-img-320x320-1.jpg" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img">
                <div class="hexagon hexagonteam gallery-item">
                    <div class="hexagon-in1">
                        <img src="img/tm-img-320x320-1.jpg" alt="Image" class="hexagon-in2">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="tm-media-text-container">
                        <h3 class="tm-media-title tm-gray-text">Po pierwsze:</h3>
                        <p class="tm-media-description tm-gray-text-2">Aliquam dapibus felis fringilla ligula mittis, ut congue purus gravida. Suspendisse suscipit tellus id odio mollis, id tincidunt metus gravida. Ut at arcu in elit maximus eleifend.</p>
                    </div>
                </div>
            </div>

            <div class="row tm-media-row tm-flex-container-reverse">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 tm-flex-child-2">
                    <img src="img/tm-img-320x320-2.jpg" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img">
                </div>

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 tm-flex-child-1">
                    <div class="tm-media-text-container-left">
                        <h3 class="tm-media-title tm-gray-text">Po drugie:</h3>
                        <p class="tm-media-description tm-gray-text-2">Aliquam dapibus felis fringilla ligula mittis, ut congue purus gravida. Suspendisse suscipit tellus id odio mollis, id tincidunt metus gravida. Ut at arcu in elit maximus eleifend.</p>
                    </div>
                </div>

            </div>

            <div class="row tm-media-row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="img/tm-img-320x320-3.jpg" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="tm-media-text-container">
                        <h3 class="tm-media-title tm-gray-text">Po trzecie:</h3>
                        <p class="tm-media-description tm-gray-text-2">Aliquam dapibus felis fringilla ligula mittis, ut congue purus gravida. Suspendisse suscipit tellus id odio mollis, id tincidunt metus gravida. Ut at arcu in elit maximus eleifend.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



    @*<div class="container-fluid tm-section tm-section-2">
        <div class="content team animated fadeInDown" id="menu-2" style="display: block;">*@
            <div class="templatemo_ourteam">
                <div class="container templatemo_hexteam">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="hexagon hexagonteam gallery-item">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="        background-image: url(img/tm-img-320x320-1.jpg);">
                                       
                                        <div class="clear"></div>
                                        <div class="overlay templatemo_overlaytxt" style="display: none;">Phasellus interdum</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                            <h2>Free Template</h2>
                            <p>Polygon is free HTML5 template by <span class="blue">template</span><span class="green">mo</span> that can be used for any purpose. You can remove any credit link. Please tell your friends about our website. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this template. Feel free to visit <a href="https://fb.com/templatemo" target="_parent">templatemo page</a> on Facebook.</p>
                        </div>
                        <div class="templatemo_servicecol2">
                            <div class="col-md-3 col-sm-4">
                                <div class="hexagon hexagonteam gallery-item">
                                    <div class="hexagon-in1">
                                        <div class="hexagon-in2" style="        background-image: url(img/tm-img-320x320-3.jpg);"> 
                                            <div class="clear"></div>
                                            <div class="overlay templatemo_overlaytxt" style="display: none;">Cras interdum accumsan diam</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                                <h2>Responsive Design</h2>
                                <p>Please take a look at <a rel="nofollow" href="https://www.toocss.com">Too CSS</a> to see the collection of free website templates for you. This is free CSS website template fully compatible with tablets and mobile phones. Mauris eget neque at sapien faucibus egestas vel vitae mi. Maecenas commodo augue risus, sed placerat neque feugiat vel.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="container templatemo_hexteam s_top">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="hexagon hexagonteam gallery-item">
                                <div class="hexagon-in1">
                                    <div class="hexagon-in2" style="        background-image: url(img/tm-img-320x320-2.jpg);">
                                        

                                        <div class="clear"></div>
                                        <div class="overlay templatemo_overlaytxt" style="display: none;">Morbi pulvinar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                            <h2>Mobile Ready</h2>
                            <p>Sed laoreet, enim quis euismod egestas, risus tortor tincidunt lacus, in iaculis mauris lectus at augue. Donec luctus nibh nec ullamcorper feugiat. Phasellus felis urna, lobortis vitae lacus sit amet, tristique consectetur nibh.</p>
                        </div>
                        <div class="templatemo_servicecol2">
                            <div class="col-md-3 col-sm-4">
                                <div class="hexagon hexagonteam gallery-item">
                                    <div class="hexagon-in1">
                                        <div class="hexagon-in2" style="        background-image: url(img/tm-img-320x320-3.jpg);">
                                            

                                            <div class="clear"></div>
                                            <div class="overlay templatemo_overlaytxt" style="display: none;">Sed nonummy</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-8 templatemo_servicetxt">
                                <h2>HTML5 CSS3</h2>
                                <p>Phasellus sodales magna orci, id scelerisque lectus faucibus a. Vivamus varius tincidunt sem. Etiam ultricies orci sit amet sem egestas varius vitae at lacus. Nunc blandit elit in mauris semper, id iaculis felis condimentum.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        @*</div>
        </div>*@

