<!DOCTYPE html>
    <html lang="pl-PL">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="komar, wrocław, odkomarzanie, zwalczanie, komarów, polowanie, na, komary, opryski" />
        <meta name="description" content="Zwalczanie komarów na terenie Wrocławia i okolic" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta itemprop="image" content="img/favicon.png" />
        <meta property="og:image" content="img/favicon.png" />
        <title>@ViewBag.Title - Odkomarzanie Wrocław</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/fontawesome/css/all.min.css" rel="stylesheet" />
        <link href="~/css/templatemo-diagoona.css" rel="stylesheet" />
        <link rel="icon" href="img/favicon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="author" content="Tomasz Marciniak" />
    </head>
    <body>
        <div class="tm-container">
            <div>
                @await Html.PartialAsync("_MenuPartialView")
                @RenderBody()
            </div>


            @await Html.PartialAsync("_FooterPartialView")

        </div>
        @await Html.PartialAsync("_ScriptPartialView")


        @*<script src="~/js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/js/jquery.backstretch.min.js" type="text/javascript"></script>
        <script src="~/js/templatemo-script.js" type="text/javascript"></script>*@
    </body>
    </html>